/*before tablet*/
@media (max-width: 1023px) {
  header {
    .phone {
      font-size: 16px;
    }
  }
}

/* tablets */
@media (max-width: 959px) {
  header {
    min-height: 20px;
    margin-bottom: 20px;
  }

  .header__menu__wrap {
    display: none;
  }

  #m-menu-btn-wrapper {
    visibility: visible;
  }

  .main_pic {
    margin-top: 30px;
  }

  .action_container {
    position: static;
    left: 0;
  }

  /*Media for mobiles*/
  #scrollUp {
    &:hover {
      border-color: #000;
      background-color: transparent;
      .upButton {
        border-top: 2px solid #000;
        border-left: 2px solid #000;
      }
    }

    &.active {
      border-color: $blue;
      background: $blue;
      .upButton {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
      }
    }
  }

}

/*mobile*/
@media (max-width: 640px) {
  #wrapper {
    padding-bottom: 140px;
  }

  .pop_new_menu_li {
    font-size: 20px;
    padding: 10px 5px 11px 5px;
  }

  .product_one {
    display: block;
    max-width: 250px;
    margin: 0 auto 50px;
  }

  .text-block {

    .img-wrap {
      text-align: center;
      margin-bottom: 20px;

      &.fl-right {
        float: none;
        margin-left: 0;

        &.extra-margin {
          margin-left: 0;
        }
      }

      &.fl-left {
        float: none;
        margin-right: 0;

        &.extra-margin {
          margin-right: 0;
        }
      }
    }
  }

  .brand {
    .img-wrap {
      margin-bottom: 20px;
    }
  }


  footer {
    margin: -140px auto 0;
    height: 140px;

    .copyright {
      text-align: center;
      margin: 15px 0 0 0;
    }

    .neprosto {
      text-align: center;
      margin: 15px 0 0 0;
    }
  }
}

@media (max-width: 480px) {
  .pop_new_menu_li {
    font-size: 13px;
    padding: 10px 0 11px 0;
  }
}
