//fonts-family
$arial: Arial;
$trebuchet: TrebuchetMS;
$tahoma: Tahoma;
$rubl: ASLRubl;

//font-size
$fonSizeMain: 13px;

//colors
$fontColorMain: #000;
$black: #000;
$white: #fff;
$blue: #0782f8;
$blueDark: #1d39ca;
$blueLight: #85bbef;
$red: #FF0000;
$green: #039400;
$greenLight: #E9FFBF;
$greenDark: #3c6b19;