@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body::after, header::after, footer::after, div::after, nav::after, ul::after, form::after {
  content: "";
  display: table;
  clear: both; }

/* grid system */
.row {
  font-size: 0; }
  .row.inline {
    white-space: nowrap; }
  .row .col {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-height: 1px;
    font-size: 15px; }

.col.d1 {
  width: 8.333%; }
.col.d2 {
  width: 16.666%; }
.col.d3 {
  width: 25%; }
.col.d4 {
  width: 33.333%; }
.col.d5 {
  width: 41.666%; }
.col.d6 {
  width: 50%; }
.col.d7 {
  width: 58.333%; }
.col.d8 {
  width: 66.666%; }
.col.d9 {
  width: 75%; }
.col.d10 {
  width: 83.333%; }
.col.d11 {
  width: 91.666%; }
.col.d12 {
  width: 100%; }

/* grid spaces */
.row.sp-5 {
  margin-right: -5px;
  margin-left: -5px; }
  .row.sp-5 > .col {
    padding-right: 5px;
    padding-left: 5px; }
.row.sp-10 {
  margin-right: -10px;
  margin-left: -10px; }
  .row.sp-10 > .col {
    padding-right: 10px;
    padding-left: 10px; }
.row.sp-15 {
  margin-right: -15px;
  margin-left: -15px; }
  .row.sp-15 > .col {
    padding-right: 15px;
    padding-left: 15px; }
.row.sp-20 {
  margin-right: -20px;
  margin-left: -20px; }
  .row.sp-20 > .col {
    padding-right: 20px;
    padding-left: 20px; }

/* aligns */
.middle {
  vertical-align: middle; }
  .middle .col {
    vertical-align: middle; }

.bottom {
  vertical-align: bottom; }
  .bottom .col {
    vertical-align: bottom; }

@media screen and (max-width: 959px) {
  .col {
    border: none; }
    .col.t1 {
      width: 8.333%; }
    .col.t2 {
      width: 16.666%; }
    .col.t3 {
      width: 25%; }
    .col.t4 {
      width: 33.333%; }
    .col.t5 {
      width: 41.666%; }
    .col.t6 {
      width: 50%; }
    .col.t7 {
      width: 58.333%; }
    .col.t8 {
      width: 66.666%; }
    .col.t9 {
      width: 75%; }
    .col.t10 {
      width: 83.333%; }
    .col.t11 {
      width: 91.666%; }
    .col.t12 {
      width: 100%; } }
@media screen and (max-width: 640px) {
  .col.m1 {
    width: 8.333%; }
  .col.m2 {
    width: 16.666%; }
  .col.m3 {
    width: 25%; }
  .col.m4 {
    width: 33.333%; }
  .col.m5 {
    width: 41.666%; }
  .col.m6 {
    width: 50%; }
  .col.m7 {
    width: 58.333%; }
  .col.m8 {
    width: 66.666%; }
  .col.m9 {
    width: 75%; }
  .col.m10 {
    width: 83.333%; }
  .col.m11 {
    width: 91.666%; }
  .col.m12 {
    width: 100%; } }
/* ���� ������ */
a:link {
  color: #147ded;
  text-decoration: underline; }
a:visited {
  color: #805e8f; }
a:hover {
  color: #FF0000;
  text-decoration: none; }
a:active {
  color: #000; }

/* ���� ���������� ������ */
/* ���� ������ ��� ��������� ����� */
/* ���� �������� ������ */
/* �������� ����� (������, � �.�.) */
td {
  font-size: 14px; }

/* ��������� �� ������� � ��. ������� ���� */
.red {
  color: #ff0000; }

/* ������ �� ���������� ������ �������� (��, ��� �� ��������� ��� ������ ������) */
span.sclc a:link {
  font-size: 16px;
  color: #327094;
  text-decoration: none;
  font-weight: bold; }
span.sclc a:visited {
  font-size: 16px;
  color: #5c568b;
  text-decoration: none;
  font-weight: bold; }
span.sclc a:hover {
  font-size: 16px;
  color: #ff0000;
  text-decoration: underline;
  font-weight: bold; }
span.sclc a:active {
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
  font-weight: bold; }

/* ���������� ����� �������� �� ���������� ������ �������� (�� � ����) */
.sclc p {
  margin: 8px; }

/* ����� ������ � ��������� ������ � �������� � ��.�������� */
.ptitle {
  font-size: 22px; }

/* ������� ������� �� ��.�������� */
table.MainProdTbl {
  width: 100%; }
table.ProdTbl {
  width: 100%; }
  table.ProdTbl td {
    vertical-align: top; }

/* ������� ������� � �������� */
/* div � ������������ ������ � �������� */
.CatPrImg, .MainPrImg {
  float: left;
  margin-right: 5px;
  margin-bottom: 3px; }

/* div � ������������ ������ �� ��.�������� */
/* div � ������������ ������ ��� ������ */
.SearchPrImg {
  float: right;
  margin-left: 5px;
  margin-bottom: 3px; }

/* BEGIN ��������� ������� � ����� �����������, �������, � ���������� ������ � �.�. */
.coltbl {
  border-top: 1px outset #f0f0f4;
  border-right: 1px ridge #f0f0f4;
  border-bottom: 1px ridge #f0f0f4;
  border-left: 1px outset #f0f0f4;
  width: 100%; }
  .coltbl td {
    padding: 4px; }

/* ��������� ������� */
.htr {
  background-color: #ddeded;
  color: #345A70;
  font-weight: bold;
  height: 20px; }
  .htr td {
    vertical-align: top;
    background-image: url(../img/hbg.gif);
    background-repeat: repeat-x;
    font-size: 14px; }

/* ������� ������ */
.str {
  background-color: #ffffff; }

/* ����� ������ */
.ttr {
  background-color: #f8fafa; }

/* ������ ����� (�� �������.) */
.ftr {
  background-color: #e2e7e7; }

/* ������ ����� ������� */
.CartFtr {
  background-color: #ffffff; }

/* ������� ������ ������ ����� ������� */
.CartTotal td {
  padding: 4px 0px 4px 0px;
  border-bottom: solid 1px #000000; }

/* END ��������� �������*/
/* BEGIN ������� ������ ������������ ���� */
.vMenuTbl {
  border-top: 1px outset #f0f0f4;
  border-right: 1px ridge #f0f0f4;
  border-bottom: 1px ridge #f0f0f4;
  border-left: 1px outset #f0f0f4;
  width: 100%; }
  .vMenuTbl td a {
    text-decoration: none; }
    .vMenuTbl td a:hover {
      text-decoration: underline; }

/* ������ */
/* ������ ��� ��������� ����� */
/* END ������� ������ ������������ ���� */
/* BEGIN ��������� ������ ������������ ���� */
.vMenuHtr td {
  background-color: #ddeded;
  color: #345A70;
  font-weight: bold;
  padding: 0px;
  background-image: url(../img/hbg.gif);
  background-repeat: repeat-x;
  height: 20px;
  font-size: 14px;
  padding: 4px; }
  .vMenuHtr td a:link, .vMenuHtr td a:visited {
    text-decoration: underline; }
  .vMenuHtr td a:hover {
    text-decoration: none; }

/* ������ */
/* ���������� ������ */
/* ������ ��� ��������� ����� */
/* div � ������������ � ��������� */
.vMenuHImg {
  float: right;
  padding: 4px; }

/* END ��������� ������ ������������ ���� */
/* BEGIN ���� ����. ���� �������� */
.MnuCat {
  width: 100%; }
  .MnuCat td {
    border-bottom: 1px dashed #cccccc; }
    .MnuCat td a {
      display: block;
      text-decoration: none;
      padding: 4px;
      width: 100%; }
      .MnuCat td a:hover {
        background-color: #f8fafa;
        text-decoration: underline; }
  .MnuCat ul {
    margin-left: 12px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    list-style-type: none; }

/* ������ */
/* ������ ��� ��������� ����� */
/* ���������� � ���� �������� */
/* �������� ������ */
.OpenedCat {
  padding: 4px;
  font-weight: bold;
  color: #345A70; }

/* END ���� ����. ���� �������� */
/* BEGIN ������� ����� ����. ���� ����� ������� */
.NewProdTbl {
  margin: 0px;
  width: 100%;
  left: 0px;
  top: 0px; }
  .NewProdTbl td {
    text-decoration: none;
    border-bottom: 1px dashed #cccccc;
    padding: 4px; }
    .NewProdTbl td a {
      text-decoration: none; }

/* ������ */
/* END ������� ����� ����. ���� ����� ������� */
/* BEGIN ������� ����� ����. ���� �������� */
.NewsMenuTbl {
  width: 100%; }
  .NewsMenuTbl td {
    border-bottom: 1px dashed #cccccc;
    padding: 4px; }

/* END ������� ����� ����. ���� �������� */
/* BEGIN ������� ����� ����. ���� ������� */
.MnuCart {
  width: 100%; }
  .MnuCart td {
    padding: 4px; }

/* END ������� ����� ����. ���� ������� */
/* BEGIN �������������� ���� */
.HorMenu {
  height: 50px;
  border-bottom: 2px inset #f0f0f4; }
  .HorMenu a {
    text-decoration: none; }
    .HorMenu a:hover {
      text-decoration: underline; }

/* ������ */
/* ������ ��� ��������� ����� */
/* END �������������� ���� */
/* BEGIN 2-��� ��������� ������ */
.htr2 {
  background-color: #d4e8e8;
  color: #345A70;
  font-weight: bold;
  height: 20px; }

/* END 2-��� ��������� ������ */
@font-face {
  font-family: 'TrebuchetMS';
  src: url("../fonts/TrebuchetMS.eot");
  src: local("TrebuchetMS"), url("../fonts/TrebuchetMS.ttf") format("truetype"), url("../fonts/TrebuchetMS.svg") format("svg"); }
@font-face {
  font-family: 'ASLRubl';
  src: url("../fonts/rouble.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: Arial;
  color: #000;
  min-height: 100%;
  background: #fff;
  font-size: 15px; }

a {
  color: #147ded;
  outline: none;
  text-decoration: underline; }
  a:hover {
    color: #FF0000; }

img {
  border: none; }

input {
  vertical-align: middle;
  outline: none; }

#wrapper {
  width: 100%;
  min-height: 100%;
  padding-bottom: 120px; }

.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px; }

.none {
  display: none; }

h2 {
  font-size: 1.85em;
  font-weight: normal;
  font-family: TrebuchetMS; }

.page {
  padding: 0 20px;
  max-width: 1300px;
  margin: 0 auto; }

/* Header
-----------------------------------------------------------------------------*/
header {
  min-height: 160px;
  /*.search {
    width: 22%;
    float: left;
    margin: 30px 0 0 0;
    input {
      &.text {
        width: 143px;
        height: 21px;
        padding: 0 0 0 10px;
        float: left;
        background: url('../img/header_search.gif') left top no-repeat;
        border: none;
        font-family: $arial;
        font-size: 1.07em;
        color: #cccccc;
      }
      &.button {
        margin: 6px 0 0 5px;
        z-index: 10;
        position: relative;
      }
    }
  }*/ }
  header .logo {
    margin: 50px 0 0 0; }
  header .basket {
    display: inline-block;
    margin: 30px 0 0 0; }
  header .phone {
    font-size: 18px;
    font-family: Tahoma;
    float: right;
    margin: 30px 0 0 0;
    line-height: 23px; }
    header .phone .code {
      font-size: 0.76em;
      position: relative;
      top: 25px;
      left: -80px; }

.heared_bg {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  background: url("../img/header_bg_pix.gif") center top repeat-x;
  position: absolute;
  left: 0;
  right: 0; }
  .heared_bg .left {
    float: left;
    width: 100%;
    height: 20px;
    background: url("../img/header_bg_l.gif") left top no-repeat; }
  .heared_bg .right {
    float: right;
    width: 100%;
    height: 20px;
    background: url("../img/header_bg_r.gif") right top no-repeat; }
  .heared_bg .heared_bg_pix {
    height: 20px;
    width: 100%;
    background: url("../img/wh-top.png") left bottom repeat-x; }

.main_menu {
  color: #41476c;
  font-size: 14px;
  margin: 30px 0 0 0;
  float: left; }
  .main_menu a {
    color: #41476c; }
    .main_menu a:hover {
      color: #FF0000; }
  .main_menu ul li {
    list-style: none;
    float: left;
    margin: 0 20px 9px 0; }

.customer_info {
  color: #fff;
  position: relative;
  z-index: 10; }
  .customer_info a {
    color: #ec3226;
    font-size: 0.84em;
    margin: 0 15px 0 0;
    position: relative;
    top: 4px; }

.customer_info_block {
  background: #805e8f;
  float: left;
  padding: 4px 6px 7px 6px;
  border-radius: 3px;
  behavior: url(PIE.htc);
  margin: 0 15px 0 0;
  position: relative;
  z-index: 20; }
  .customer_info_block.act span.border {
    /*left bottom repeat-x;*/
    padding: 0 0 0px 0;
    border-bottom: 1px dashed; }
  .customer_info_block span.border {
    background: none;
    cursor: pointer;
    border-bottom: 1px dashed; }
  .customer_info_block.act span.icon {
    cursor: pointer;
    background: url("../img/icon_1.gif") right 5px no-repeat;
    padding: 0 22px 0 0; }
  .customer_info_block span.icon {
    background: url("../img/icon_1_1.gif") right 5px no-repeat;
    padding: 0 22px 0 0; }

.customer_info_block_hover {
  background: #805e8f;
  border-radius: 3px;
  behavior: url(PIE.htc);
  width: 238px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 25px 0 10px 0;
  z-index: 10; }
  .customer_info_block_hover ul li {
    clear: both;
    font-size: 1em;
    margin: 0 0 2px 0;
    padding: 0 0 0 25px;
    height: 27px;
    width: 213px; }
    .customer_info_block_hover ul li a {
      color: #fff; }
      .customer_info_block_hover ul li a:hover {
        text-decoration: underline;
        color: #fff; }
    .customer_info_block_hover ul li:hover {
      background: #3b70c9; }

.customer_info:hover .customer_info_block_hover {
  box-shadow: 1px 2px 2px #000;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  /* ��������� ���� */
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  /* ��� Firefox */
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  /* ��� Safari � Chrome */
  behavior: url(PIE.htc); }

/* ----------------------------------------------
 Nav
 ---------------------------------------------- */
#m-menu:not(.mm-menu), .mm-menu.mm-offcanvas {
  display: none; }

#m-menu-btn-wrapper {
  padding: 0;
  background-color: transparent;
  width: 70px;
  visibility: hidden;
  position: fixed;
  top: 7px;
  right: 0;
  z-index: 50; }

/*.mm-menu {
!*  background-image: url("../images/point_bg.png");
  background-repeat: repeat;

  .logo {
    padding: 0;
    margin: 15px 0 0 20px;
  }*!
  !*&.mm-offcanvas.mm-fullscreen.mm-top {
      min-height: 450px;
  }*!
}

.mm-navbar {
  border: none;
}

.mm-listview {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  font-size: 20px;
  list-style: decimal-leading-zero;
  @include transform(translate3d(0, -50%, 0));

  a:link {
    text-decoration: none;
  }

  !*li {
    color: #414141;

    &::before {
      content: "0"counter(item) ". ";
      line-height: 31px;
    }
    &:hover {
      color: #ff4b59;
    }
  }*!
  !*> li {
    > a, > span {
      padding: 5px 10px 5px 35px;
    }
  }
  > li:not(.mm-divider)::after {
    display: none;
  }
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }*!
}

#mm-blocker {
  z-index: 1200;
  cursor: pointer;
}
html.mm-front .mm-menu.mm-offcanvas {
  z-index: 30;
}
.mm-panels>.mm-panel.mm-hasnavbar {
  padding-top: 84px;
}
.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 20px;
}*/
.menu-button {
  cursor: pointer;
  padding: 0; }

.hamburger {
  padding: 13px 15px;
  background-color: transparent;
  width: 70px;
  margin: 0; }

.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #4e4e4e;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: transform 0.15s ease;
  -moz-transition: transform 0.15s ease;
  -o-transition: transform 0.15s ease;
  transition: transform 0.15s ease; }

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--squeeze .hamburger-inner {
  -webkit-transition: transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::after {
    -webkit-transition: bottom 0.1s ease 0.14s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: bottom 0.1s ease 0.14s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.1s ease 0.14s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s ease 0.14s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    -webkit-transition: top 0.1s ease 0.14s, opacity 0.1s ease;
    -moz-transition: top 0.1s ease 0.14s, opacity 0.1s ease;
    -o-transition: top 0.1s ease 0.14s, opacity 0.1s ease;
    transition: top 0.1s ease 0.14s, opacity 0.1s ease; }

html.mm-opening .hamburger--squeeze .hamburger-inner {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  -moz-transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  -o-transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s; }

html.mm-opening .hamburger--squeeze .hamburger-inner::after {
  bottom: 0;
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  -moz-transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  -o-transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s; }

html.mm-opening .hamburger--squeeze .hamburger-inner::before {
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: top 0.1s ease, opacity 0.1s ease 0.14s;
  -moz-transition: top 0.1s ease, opacity 0.1s ease 0.14s;
  -o-transition: top 0.1s ease, opacity 0.1s ease 0.14s;
  transition: top 0.1s ease, opacity 0.1s ease 0.14s; }

/* Middle
-----------------------------------------------------------------------------*/
#middle {
  width: 100%;
  padding: 0 0 140px;
  height: 1%;
  position: relative;
  z-index: 1; }
  #middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0; }

#container {
  width: 100%;
  float: left;
  overflow: hidden; }

#content {
  padding: 0 0 0 22%; }

.main_pic {
  width: 100%;
  height: 350px;
  background: url("../img/main_pic.jpg") center top no-repeat;
  position: relative; }

.action {
  width: 315px;
  height: 315px;
  background: url("../img/action_bg.png") left top no-repeat;
  text-align: center;
  padding: 100px 0 0 0;
  color: #fff; }
  .action .name a {
    color: #fff;
    font-weight: bold;
    font-size: 1.85em;
    font-family: TrebuchetMS;
    padding: 0 10px 0 10px; }
    .action .name a:hover {
      color: #FFCC00; }
  .action .price {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 1.85em;
    margin: 12px 0 10px 0; }

.action_container {
  width: 315px;
  height: 315px;
  margin: 0 auto;
  position: relative;
  left: 190px; }

.action input.button {
  width: 93px;
  height: 30px;
  color: #E9FFBF;
  font-family: Arial;
  font-size: 1.46em;
  padding: 0 0 3px 0;
  background: url("../img/button_bg_1.gif") left top repeat-x;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #3c6b19;
  box-shadow: 0 1px 1px #3c6b19;
  -webkit-box-shadow: 0 1px 1px #3c6b19; }
  .action input.button:active {
    -moz-box-shadow: 0 0px -1px black;
    box-shadow: 0 -1px 1px black;
    -webkit-box-shadow: 0 -1px 1px #3c6b19; }

.pop_new {
  background: url("../img/icon_5.gif") left bottom repeat-x; }

.pop_new_menu {
  color: #1d39ca;
  font-size: 1.85em; }

.pop_new_menu_li {
  padding: 10px 10px 11px 10px;
  font-family: TrebuchetMS;
  font-size: 24px;
  text-align: center; }
  .pop_new_menu_li span {
    /*background:url('images/icon_3.gif') - :-))))left bottom repeat-x;*/
    cursor: pointer;
    border-bottom: dotted 2px; }
  .pop_new_menu_li.act {
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url("../img/pop_new_menu.gif") left top repeat-x; }
    .pop_new_menu_li.act span {
      background: none;
      cursor: default;
      border: none; }

.pop_new_product {
  background: url("../img/pop_new_text.gif") left top repeat-x;
  padding: 40px 0 0 0;
  width: 100%; }

.product_one {
  display: inline-block;
  margin: 0 0 50px 0;
  min-height: 220px;
  position: relative;
  vertical-align: top; }
  .product_one .pic {
    margin: 0 0 20px 8px;
    min-height: 200px; }
  .product_one .name {
    height: 28px;
    margin: 0 0 0 8px;
    overflow: hidden; }
  .product_one .price {
    margin: 14px 0 12px 8px;
    font-family: Tahoma;
    font-size: 1.54em; }
  .product_one .line {
    background: url("../img/icon_4.gif") left top repeat-x;
    height: 1px; }
  .product_one input.button {
    margin: 10px 0 0 8px;
    width: 63px;
    height: 20px;
    padding: 0 0 2px 0;
    color: #E9FFBF;
    font-family: Arial;
    font-size: 1em;
    background: url("../img/button_bg_2.gif") left top repeat-x;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #3c6b19;
    -webkit-box-shadow: 0 1px 1px #3c6b19;
    box-shadow: 0 1px 1px #3c6b19; }
    .product_one input.button:active {
      -moz-box-shadow: 0 0px -1px #000;
      -webkit-box-shadow: 0 0px -1px #000;
      box-shadow: 0 0px -1px #000; }

/*.product_one input.button:hover {opacity: 0.9; filter:alpha(opacity=90)}*/
/*.product_one input.button:hover {opacity: 0.9; filter:alpha(opacity=90)}*/
input::-moz-focus-inner {
  border: 0; }

.article {
  margin: 35px 0 0 0;
  background: url(../img/icon_5.gif) left bottom repeat-x; }

.article_block {
  margin: 10px 0 40px;
  line-height: 1.4em; }
  .article_block .title {
    margin: 0 0 10px 0;
    font-size: 1.23em;
    line-height: 1.5em; }

.choice {
  border-bottom: 1px dashed gray; }
  .choice h2 {
    margin-bottom: 20px; }

.choice_block {
  margin: 10px 0 0 0;
  width: 22%;
  float: left;
  padding: 0 3% 40px 0;
  line-height: 1.4em; }
  .choice_block p {
    color: #039400; }
  .choice_block .title {
    margin: 0 0 10px 0;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: bold; }
    .choice_block .title img {
      margin: 0 0 10px 0; }
    .choice_block .title a {
      color: #0782f8;
      text-decoration: none;
      border-bottom: 1px solid #85bbef;
      padding: 0 0 2px 0; }
      .choice_block .title a:hover {
        color: #FF0000;
        text-decoration: none;
        border-bottom: 1px solid #ff7070;
        padding: 0 0 2px 0; }

.up_nav {
  margin: 0 0 20px 0; }
  .up_nav a {
    color: #41476c; }
    .up_nav a:hover {
      color: #FF0000; }

.main_table {
  background-color: #eff4f9;
  padding: 10px 0 10px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 90%;
  vertical-align: top; }

.main_table_table {
  margin: 0 0 10px 0; }
  .main_table_table tr td {
    padding-right: 10px; }

.main_table_shadow {
  background: url(../img/table_shadow.gif) no-repeat center;
  height: 20px;
  width: 90%;
  margin: 0 0 40px 0; }

.main_table_header {
  font-weight: bold; }

.main_table_border td {
  border-bottom: 1px #c5d4e3 solid;
  padding: 0 0 5px 0;
  color: #26394c;
  font-size: 0.85em;
  font-weight: bold; }

.main_table_border_up td {
  border-top: 1px #fff solid;
  color: #26394c;
  font-size: 0.85em;
  height: 5px; }

.main_table_header span {
  color: #26394c;
  font-size: 0.85em; }

td.main_table_border_none {
  border: none; }

.main_table_group_header td {
  background: url(../img/main_table_bg_group_header.gif) repeat-x bottom center #d5dfe8;
  padding: 10px 0 10px 0;
  line-height: 140%; }

.main_table_item td {
  background: #e4eaf1;
  padding: 10px 0 10px 0; }
.main_table_item:hover td {
  background: url(../img/main_table_bg_item_hover.gif) repeat-x bottom center #c7e3ff;
  cursor: pointer; }

.main_table_cur {
  font-family: Tahoma;
  font-weight: bold; }

.main_table_group_headers td {
  background: url(../img/main_table_s.gif) repeat-x bottom center #fff;
  padding: 10px 0 10px 0;
  line-height: 140%; }

.main_table_group_headerss td {
  background: url(../img/main_table_ss.gif) repeat-x bottom center #fbd4b4;
  padding: 10px 0 10px 0;
  line-height: 140%; }

main_table_items p {
  background: #e4eaf1;
  padding: 10px 0 10px 0; }

.main_table_items:hover p {
  background: url(../img/main_table_bg_item_hover.gif) repeat-x bottom center #c7e3ff;
  cursor: pointer; }

.content_inner {
  margin: 0 0 40px 0;
  position: relative; }

.content_inner h2 {
  width: 435px;
  margin: 0 0 0.5em 0; }

.content {
  margin: 35px 0 40px 0;
  position: relative; }
  .content .right {
    float: left;
    width: 20%;
    color: #707070;
    font-size: 0.9em;
    margin: 70px 0 0 0; }
    .content .right .right_block {
      margin: 0 0 18px 0;
      line-height: 1.4em;
      font-size: 0.9em; }
    .content .right .right_block_first {
      margin: -10px 0 18px -10px;
      line-height: 1.4em;
      background-color: #f0f4f8;
      color: #7b598d;
      font-weight: bold;
      padding: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; }
  .content .text {
    padding: 0 40px 0 0; }
    .content .text .anons {
      margin: 15px 0 12px 0;
      font-size: 1.23em;
      line-height: 1.25em;
      font-weight: normal;
      color: #7c598c; }
  .content h2 {
    margin: 0 0 0.5em 0; }
  .content p {
    margin: 0 0 12px 0;
    line-height: 18px; }
  .content .shadow_text {
    height: 11px;
    background: url(../img/shadow_text.jpg) no-repeat center;
    margin: 20px 0 20px 0; }
  .content .news {
    color: #707070;
    font-size: 0.92em;
    margin: 42px 0 0 0; }
    .content .news .news_block {
      margin: 0 0 18px 0;
      line-height: 1.4em; }
    .content .news .all_news a {
      color: #498509; }
      .content .news .all_news a:hover {
        color: #FF0000; }
  .content .pic {
    position: absolute;
    top: 0;
    left: -141px;
    margin-left: -6%;
    margin-top: 70px; }

input.button {
  cursor: pointer; }

.action input.button:disabled {
  font-size: 1.4em; }

.product_one input.button:disabled {
  font-size: 1.05em; }

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
  float: left;
  width: 22%;
  margin-left: -100%;
  position: relative; }

.submenu {
  margin: 0 0 0 40px; }
  .submenu a.title {
    color: #000;
    font-size: 1.07em; }
    .submenu a.title:hover {
      color: #FF0000; }
  .submenu ul {
    margin: 12px 20px 22px 20px; }
    .submenu ul li {
      list-style: none;
      margin: 0 0 14px 0;
      line-height: 1.3em; }
      .submenu ul li.active {
        color: #FF0000;
        border-left: 3px #FF0000 solid;
        padding-left: 10px;
        margin-left: -13px; }

/* Footer
-----------------------------------------------------------------------------*/
footer {
  margin: -120px auto 0;
  height: 120px;
  position: relative;
  z-index: 10; }
  footer .copyright {
    margin: 15px 0 0 10px; }
  footer .phone {
    text-align: center;
    margin: 15px 0 0 0; }
    footer .phone .number {
      font-size: 1.38em;
      margin: 3px 0 10px 0; }
  footer .neprosto {
    text-align: right;
    margin: 15px 35px 0 0; }
    footer .neprosto a {
      color: #000; }
      footer .neprosto a:hover {
        color: #FF0000; }

.footer_bg {
  width: 100%;
  height: 9px;
  background: url("../img/header_bg_pix.gif") center top repeat-x; }
  .footer_bg .left {
    float: left;
    width: 100%;
    height: 9px;
    background: url("../img/header_bg_l.gif") left top no-repeat; }
  .footer_bg .right {
    float: right;
    width: 100%;
    height: 9px;
    background: url("../img/header_bg_r.gif") right top no-repeat; }
  .footer_bg .footer_bg_pix {
    height: 9px;
    width: 100%;
    background: url("../img/wh-bottom.png") left top repeat-x; }

/*#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: $blue;
  @include border-radius(5px);
  right: 10px;
  bottom: -40px;
  display: none;
  @include transition(background-color 0.2s ease-in-out);
  cursor: pointer;
  z-index: 20;
  &:hover {
    background: darken($blue, 10%);
  }
  .upButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    @include transform(rotate(45deg));
  }
}*/
/*Scroll up button*/
#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  right: 10px;
  bottom: -40px;
  display: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 20; }
  #scrollUp:hover {
    border-color: #0782f8;
    background: #0782f8; }
    #scrollUp:hover .upButton {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff; }
  #scrollUp .upButton {
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

/*.copyright {
  float: left;
  width: 20%;
  margin: 15px 0 0 10px;
}*/
h1 {
  font-size: 32px;
  line-height: 38px;
  margin: 18px 0 30px 0; }

h2 {
  font-size: 24px;
  font-family: TrebuchetMS;
  font-weight: normal;
  line-height: 28px;
  margin: 0 0 30px 0; }

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; }

p {
  margin-bottom: 10px; }

ol {
  padding-left: 20px; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.fl-right {
  float: right; }

.fl-left {
  float: left; }

.accent {
  font-weight: bold; }
  .accent.red {
    color: #FF0000; }
  .accent.blue {
    color: #1d39ca; }
  .accent.green {
    color: #039400; }

.red {
  color: #FF0000; }

.blue {
  color: #1d39ca; }

.green {
  color: #039400; }

.upper {
  text-transform: uppercase; }

/*content*/
.content-block {
  font-size: 14px;
  margin: 0 0 40px 0; }

.text-block {
  margin: 0 0 20px 0; }
  .text-block .img-wrap.fl-right {
    margin-left: 20px; }
    .text-block .img-wrap.fl-right.extra-margin {
      margin-left: 40px; }
  .text-block .img-wrap.fl-left {
    margin-right: 20px; }
    .text-block .img-wrap.fl-left.extra-margin {
      margin-right: 40px; }
  .text-block ol {
    margin-bottom: 10px; }

.brand {
  text-align: center;
  margin: 0 0 20px 0; }
  .brand .img-wrap {
    height: 80px;
    margin-bottom: 10px; }
    .brand .img-wrap img {
      max-width: 100%;
      max-height: 100%; }
  .brand .title {
    font-size: 16px; }

.breadcrumbs {
  margin-bottom: 35px; }
  .breadcrumbs .title {
    float: left;
    margin-right: 5px;
    font-weight: bold; }
  .breadcrumbs li {
    float: left;
    list-style: none;
    margin-right: 10px;
    position: relative; }
    .breadcrumbs li::before {
      content: '/';
      line-height: 15px;
      display: block;
      position: absolute;
      top: 0;
      right: -7px; }
    .breadcrumbs li:last-of-type::before {
      display: none; }

.panel {
  border-radius: 3px;
  border: 2px solid #805e8f;
  color: #805e8f;
  display: inline-block;
  vertical-align: top;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/*card*/
.card-block {
  margin-bottom: 10px; }
  .card-block .img-wrap img {
    border: 1px solid #000; }
  .card-block .caption p {
    margin-bottom: 30px; }

.card-info .title {
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  margin-bottom: 8px; }
.card-info .marker {
  border-radius: 3px;
  background-color: #f6f6f6;
  color: #FF0000;
  padding: 10px 15px;
  margin-bottom: 27px;
  display: inline-block; }
  .card-info .marker.enable {
    color: #62a014; }
.card-info .price {
  color: #147ded;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 23px; }
.card-info .tips {
  margin-bottom: 35px; }
.card-info .guarantee {
  font-size: 13px;
  font-weight: 700;
  padding: 4px 9px 0 7px;
  height: 55px; }
  .card-info .guarantee span.number {
    font-size: 24px;
    font-weight: 900; }
  .card-info .guarantee span {
    font-size: 15px;
    font-weight: 700; }
.card-info .certificate {
  font-size: 13px;
  font-weight: 700;
  padding: 13px 8px 0 57px;
  margin-left: 13px;
  height: 55px;
  position: relative; }
  .card-info .certificate::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 11px;
    left: 7px;
    width: 44px;
    height: 33px;
    background: url("../img/icon-certificate.png") no-repeat; }
.card-info .service-price {
  margin-bottom: 66px; }
  .card-info .service-price a.purple:link {
    color: #805e8f; }
  .card-info .service-price a.purple:hover {
    color: #FF0000; }
  .card-info .service-price span {
    width: 150px;
    line-height: 28px;
    display: inline-block; }
  .card-info .service-price .price {
    font-size: 16px;
    font-weight: bold;
    width: auto;
    margin: 0 0 0 10px; }
.card-info .purchase {
  margin-bottom: 40px; }
  .card-info .purchase .btn {
    width: 154px;
    height: 44px;
    text-decoration: none;
    text-align: center;
    display: block;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .card-info .purchase .btn-card {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    background-image: linear-gradient(to right, #0d7ff2 0%, #3b70c8 100%);
    padding-top: 8px; }
  .card-info .purchase .btn-fast-order {
    color: #0d7ff2;
    border: 2px solid #0d7ff2;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 11px;
    margin-left: 11px; }

.characteristics {
  padding: 25px 0 57px;
  border-top: 3px solid black;
  border-bottom: 3px solid black; }
  .characteristics .table {
    border-top: 1px solid black;
    border-left: 1px solid black; }
    .characteristics .table .cell {
      padding: 20px 10px 0 20px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      height: 72px; }

.description {
  margin: 45px 0 62px; }
  .description h2 {
    margin-bottom: 34px; }
  .description h3 {
    margin: 0 0 28px 0; }
  .description .caption {
    font-size: 16px;
    margin: 0 0 34px; }
  .description ul {
    padding-left: 18px; }
    .description ul li {
      line-height: 26px; }

.payment-methods {
  color: #fff;
  background-image: linear-gradient(to right, #795a90 0%, #0d7ff2 100%);
  padding: 48px 85px 53px 85px;
  text-align: center; }
  .payment-methods h2 {
    margin-bottom: 56px; }
  .payment-methods .col:first-of-type {
    text-align: left; }
  .payment-methods .col:last-of-type {
    text-align: right; }
  .payment-methods .method {
    padding-left: 107px;
    position: relative;
    line-height: 81px;
    display: inline-block;
    margin-bottom: 60px; }
    .payment-methods .method::before {
      content: ' ';
      display: block;
      position: absolute;
      width: 81px;
      height: 81px;
      left: 0;
      top: 0; }
  .payment-methods .icon-cash::before {
    background: url("../img/icon-cash.png") no-repeat; }
  .payment-methods .icon-transfer::before {
    background: url("../img/icon-transfer.png") no-repeat; }
  .payment-methods .icon-visa::before {
    background: url("../img/icon-visa.png") no-repeat; }

.value h2 {
  font-weight: 700; }
.value .panel {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  padding-top: 72px;
  width: 115px;
  height: 115px;
  position: relative; }
  .value .panel::before {
    content: ' ';
    position: absolute; }
  .value .panel.icon-cash::before {
    width: 51px;
    height: 45px;
    top: 16px;
    left: 33px;
    background: url("../img/icon-money-purple.png") no-repeat; }
  .value .panel.icon-bank::before {
    width: 42px;
    height: 43px;
    top: 17px;
    left: 37px;
    background: url("../img/icon-bank-purple.png") no-repeat; }
  .value .panel.icon-visa::before {
    width: 74px;
    height: 23px;
    top: 29px;
    left: 19px;
    background: url("../img/icon-visa-purple.png") no-repeat; }

/*before tablet*/
@media (max-width: 1023px) {
  header .phone {
    font-size: 16px; } }
/* tablets */
@media (max-width: 959px) {
  header {
    min-height: 20px;
    margin-bottom: 20px; }

  .header__menu__wrap {
    display: none; }

  #m-menu-btn-wrapper {
    visibility: visible; }

  .main_pic {
    margin-top: 30px; }

  .action_container {
    position: static;
    left: 0; }

  /*Media for mobiles*/
  #scrollUp:hover {
    border-color: #000;
    background-color: transparent; }
    #scrollUp:hover .upButton {
      border-top: 2px solid #000;
      border-left: 2px solid #000; }
  #scrollUp.active {
    border-color: #0782f8;
    background: #0782f8; }
    #scrollUp.active .upButton {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff; } }
/*mobile*/
@media (max-width: 640px) {
  #wrapper {
    padding-bottom: 140px; }

  .pop_new_menu_li {
    font-size: 20px;
    padding: 10px 5px 11px 5px; }

  .product_one {
    display: block;
    max-width: 250px;
    margin: 0 auto 50px; }

  .text-block .img-wrap {
    text-align: center;
    margin-bottom: 20px; }
    .text-block .img-wrap.fl-right {
      float: none;
      margin-left: 0; }
      .text-block .img-wrap.fl-right.extra-margin {
        margin-left: 0; }
    .text-block .img-wrap.fl-left {
      float: none;
      margin-right: 0; }
      .text-block .img-wrap.fl-left.extra-margin {
        margin-right: 0; }

  .brand .img-wrap {
    margin-bottom: 20px; }

  footer {
    margin: -140px auto 0;
    height: 140px; }
    footer .copyright {
      text-align: center;
      margin: 15px 0 0 0; }
    footer .neprosto {
      text-align: center;
      margin: 15px 0 0 0; } }
@media (max-width: 480px) {
  .pop_new_menu_li {
    font-size: 13px;
    padding: 10px 0 11px 0; } }

/*# sourceMappingURL=style.css.map */
