@charset "UTF-8";

@import "variables";
@import "mixin";
@import "grid-system";
@import "adaptive_grid";
@import "styles";


//fonts
@font-face {
  font-family: 'TrebuchetMS';
  src: url('../fonts/TrebuchetMS.eot');
  src: local("TrebuchetMS"), url('../fonts/TrebuchetMS.ttf') format("truetype"), url('../fonts/TrebuchetMS.svg') format("svg");
}

@font-face {
  font-family: 'ASLRubl';
  src: url('../fonts/rouble.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}


html {
  height: 100%;
  //font-size: 81.25%;
}

body {
  font-family: $arial;
  color: $fontColorMain;
  min-height: 100%;
  background: $white;
  font-size: $fonSizeMain;
}

a {
  color: $blueDark;
  outline: none;
  text-decoration: underline;
  &:hover {
    color: $red;
  }
}

img {
  border: none;
}

input {
  vertical-align: middle;
  outline: none;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  padding-bottom: 120px;
}

.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
}

.none {
  display: none;
}

h2 {
  font-size: 1.85em;
  font-weight: normal;
  font-family: $trebuchet;
}


.page {
  padding: 0 20px;
  max-width: 1300px;
  margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
header {
  min-height: 160px;

  /*.search {
    width: 22%;
    float: left;
    margin: 30px 0 0 0;
    input {
      &.text {
        width: 143px;
        height: 21px;
        padding: 0 0 0 10px;
        float: left;
        background: url('../img/header_search.gif') left top no-repeat;
        border: none;
        font-family: $arial;
        font-size: 1.07em;
        color: #cccccc;
      }
      &.button {
        margin: 6px 0 0 5px;
        z-index: 10;
        position: relative;
      }
    }
  }*/

  .logo {
    margin: 50px 0 0 0;
  }

  .basket {
    display: inline-block;
    margin: 30px 0 0 0;
  }

  .phone {
    font-size: 18px;
    font-family: $tahoma;
    float: right;
    margin: 30px 0 0 0;
    line-height: 23px;
    .code {
      font-size: 0.76em;
      position: relative;
      top: 25px;
      left: -80px;
    }
  }
}

.heared_bg {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  background: url('../img/header_bg_pix.gif') center top repeat-x;
  position: absolute;
  left: 0;
  right: 0;

  .left {
    float: left;
    width: 100%;
    height: 20px;
    background: url('../img/header_bg_l.gif') left top no-repeat;
  }

  .right {
    float: right;
    width: 100%;
    height: 20px;
    background: url('../img/header_bg_r.gif') right top no-repeat;
  }

  .heared_bg_pix {
    height: 20px;
    width: 100%;
    background: url('../img/wh-top.png') left bottom repeat-x;
  }
}



.main_menu {
  color: #41476c;
  font-size: 14px;
  margin: 30px 0 0 0;
  float: left;
  a {
    color: #41476c;
    &:hover {
      color: $red;
    }
  }
  ul li {
    list-style: none;
    float: left;
    margin: 0 20px 9px 0;
  }
}

.customer_info {
  color: $white;
  position: relative;
  z-index: 10;
  a {
    color: #ec3226;
    font-size: 0.84em;
    margin: 0 15px 0 0;
    position: relative;
    top: 4px;
  }
}

.customer_info_block {
  background: #805e8f;
  float: left;
  padding: 4px 6px 7px 6px;
  border-radius: 3px;
  behavior: url(PIE.htc);
  margin: 0 15px 0 0;
  position: relative;
  z-index: 20;
  &.act span.border {
    /*left bottom repeat-x;*/
    padding: 0 0 0px 0;
    border-bottom: 1px dashed;
  }
  span.border {
    background: none;
    cursor: pointer;
    border-bottom: 1px dashed;
  }
  &.act span.icon {
    cursor: pointer;
    background: url('../img/icon_1.gif') right 5px no-repeat;
    padding: 0 22px 0 0;
  }
  span.icon {
    background: url('../img/icon_1_1.gif') right 5px no-repeat;
    padding: 0 22px 0 0;
  }
}

.customer_info_block_hover {
  background: #805e8f;
  border-radius: 3px;
  behavior: url(PIE.htc);
  width: 238px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 25px 0 10px 0;
  z-index: 10;
  ul li {
    clear: both;
    font-size: 1em;
    margin: 0 0 2px 0;
    padding: 0 0 0 25px;
    height: 27px;
    width: 213px;
    a {
      color: $white;
      &:hover {
        text-decoration: underline;
        color: $white;
      }
    }
    &:hover {
      background: #3b70c9;
    }
  }
}

.customer_info:hover .customer_info_block_hover {
  box-shadow: 1px 2px 2px $black;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  /* ��������� ���� */
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  /* ��� Firefox */
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  /* ��� Safari � Chrome */
  behavior: url(PIE.htc);
}


/* ----------------------------------------------
 Nav
 ---------------------------------------------- */
#m-menu:not(.mm-menu), .mm-menu.mm-offcanvas {
  display: none;
}
#m-menu-btn-wrapper {
  padding: 0;
  background-color: transparent;
  width: 70px;
  visibility: hidden;
  position: fixed;
  top: 7px;
  right: 0;
  z-index: 50;
}

/*.mm-menu {
!*  background-image: url("../images/point_bg.png");
  background-repeat: repeat;

  .logo {
    padding: 0;
    margin: 15px 0 0 20px;
  }*!
  !*&.mm-offcanvas.mm-fullscreen.mm-top {
      min-height: 450px;
  }*!
}

.mm-navbar {
  border: none;
}

.mm-listview {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  font-size: 20px;
  list-style: decimal-leading-zero;
  @include transform(translate3d(0, -50%, 0));

  a:link {
    text-decoration: none;
  }

  !*li {
    color: #414141;

    &::before {
      content: "0"counter(item) ". ";
      line-height: 31px;
    }
    &:hover {
      color: #ff4b59;
    }
  }*!
  !*> li {
    > a, > span {
      padding: 5px 10px 5px 35px;
    }
  }
  > li:not(.mm-divider)::after {
    display: none;
  }
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }*!
}

#mm-blocker {
  z-index: 1200;
  cursor: pointer;
}
html.mm-front .mm-menu.mm-offcanvas {
  z-index: 30;
}
.mm-panels>.mm-panel.mm-hasnavbar {
  padding-top: 84px;
}
.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 20px;
}*/
.menu-button {
  cursor: pointer;
  padding: 0;
}
.hamburger {
  padding: 13px 15px;
  background-color: transparent;
  width: 70px;
  margin: 0;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #4e4e4e;
  border-radius: 4px;
  position: absolute;
  @include transition(transform 0.15s ease);
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;

  &::before, &::after {
    content: "";
    display: block; }
  &::before {
    top: -10px; }
  &::after {
    bottom: -10px; }
}

.hamburger--squeeze {
  .hamburger-inner {
    @include transition(transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19));

    &::after {
      @include transition(bottom 0.1s ease 0.14s, transform .1s cubic-bezier(.55,.055,.675,.19));
    }
    &::before {
      @include transition(top 0.1s ease 0.14s, opacity .1s ease);
    }
  }
}

html.mm-opening .hamburger--squeeze .hamburger-inner {
  @include transform(rotate(45deg));
  @include transition(transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s);
}
html.mm-opening .hamburger--squeeze .hamburger-inner::after {
  bottom: 0;
  @include transform(rotate(-90deg));
  @include transition(bottom 0.1s ease, transform 0.1s cubic-bezier(.215,.61,.355,1) 0.14s);
}
html.mm-opening .hamburger--squeeze .hamburger-inner::before {
  top: 0;
  @include opacity(0);
  @include transition(top 0.1s ease, opacity 0.1s ease 0.14s);
}

/* Middle
-----------------------------------------------------------------------------*/

#middle {
  width: 100%;
  padding: 0 0 140px;
  height: 1%;
  position: relative;
  z-index: 1;
  &:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}

#container {
  width: 100%;
  float: left;
  overflow: hidden;
}

#content {
  padding: 0 0 0 22%;
}

.main_pic {
  width: 100%;
  height: 350px;
  background: url('../img/main_pic.jpg') center top no-repeat;
  position: relative;
}

.action {
  width: 315px;
  height: 315px;
  background: url('../img/action_bg.png') left top no-repeat;
  text-align: center;
  padding: 100px 0 0 0;
  color: $white;
  .name a {
    color: $white;
    font-weight: bold;
    font-size: 1.85em;
    font-family: $trebuchet;
    padding: 0 10px 0 10px;
    &:hover {
      color: #FFCC00;
    }
  }
  .price {
    font-family: $tahoma;
    font-weight: bold;
    font-size: 1.85em;
    margin: 12px 0 10px 0;
  }
}

.action_container {
  width: 315px;
  height: 315px;
  margin: 0 auto;
  position: relative;
  left: 190px;
}

.action input.button {
  width: 93px;
  height: 30px;
  color: $greenLight;
  font-family: $arial;
  font-size: 1.46em;
  padding: 0 0 3px 0;
  background: url('../img/button_bg_1.gif') left top repeat-x;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 1px $greenDark;
  box-shadow: 0 1px 1px $greenDark;
  -webkit-box-shadow: 0 1px 1px $greenDark;
  &:active {
    -moz-box-shadow: 0 0px -1px black;
    box-shadow: 0 -1px 1px black;
    -webkit-box-shadow: 0 -1px 1px $greenDark;
  }
}

.pop_new {
  //width: 98%;
  background: url('../img/icon_5.gif') left bottom repeat-x;
}

.pop_new_menu {
  color: $blueDark;
  font-size: 1.85em;
}

.pop_new_menu_li {
  padding: 10px 10px 11px 10px;
  font-family: $trebuchet;
  font-size: 24px;
  text-align: center;
  span {
    /*background:url('images/icon_3.gif') - :-))))left bottom repeat-x;*/
    cursor: pointer;
    border-bottom: dotted 2px;
  }
  &.act {
    color: $fontColorMain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url('../img/pop_new_menu.gif') left top repeat-x;
    span {
      background: none;
      cursor: default;
      border: none;
    }
  }
}

.pop_new_product {
  background: url('../img/pop_new_text.gif') left top repeat-x;
  padding: 40px 0 0 0;
  width: 100%;
}

.product_one {
  display: inline-block;
  margin: 0 0 50px 0;
  min-height: 220px;
  position: relative;
  vertical-align: top;

  .pic {
    margin: 0 0 20px 8px;
    min-height: 200px;
  }
  .name {
    height: 28px;
    margin: 0 0 0 8px;
    overflow: hidden;
  }
  .price {
    margin: 14px 0 12px 8px;
    font-family: $tahoma;
    font-size: 1.54em;
  }
  .line {
    background: url('../img/icon_4.gif') left top repeat-x;
    height: 1px;
  }
  input.button {
    margin: 10px 0 0 8px;
    width: 63px;
    height: 20px;
    padding: 0 0 2px 0;
    color: $greenLight;
    font-family: $arial;
    font-size: 1em;
    background: url('../img/button_bg_2.gif') left top repeat-x;
    border: none;
    @include border-radius(3px);
    @include box-shadow(0 1px 1px $greenDark);
    &:active {
      @include box-shadow(0 0px -1px $black);
    }
  }
}

/*.product_one input.button:hover {opacity: 0.9; filter:alpha(opacity=90)}*/

/*.product_one input.button:hover {opacity: 0.9; filter:alpha(opacity=90)}*/

input::-moz-focus-inner {
  border: 0;
}

.article {
  margin: 35px 0 0 0;
  background: url(../img/icon_5.gif) left bottom repeat-x;
}

.article_block {
  margin: 10px 0 40px;
  line-height: 1.4em;
  .title {
    margin: 0 0 10px 0;
    font-size: 1.23em;
    line-height: 1.5em;
  }
}

.choice {
  border-bottom: 1px dashed gray;
  h2 {
    margin-bottom: 20px;
  }
}

.choice_block {
  margin: 10px 0 0 0;
  width: 22%;
  float: left;
  padding: 0 3% 40px 0;
  line-height: 1.4em;
  p {
    color: $green;
  }
  .title {
    img {
      margin: 0 0 10px 0;
    }
    margin: 0 0 10px 0;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: bold;
    a {
      color: $blue;
      text-decoration: none;
      border-bottom: 1px solid $blueLight;
      padding: 0 0 2px 0;
      &:hover {
        color: $red;
        text-decoration: none;
        border-bottom: 1px solid #ff7070;
        padding: 0 0 2px 0;
      }
    }
  }
}

.up_nav {
  margin: 0 0 20px 0;
  a {
    color: #41476c;
    &:hover {
      color: $red;
    }
  }
}

.main_table {
  background-color: #eff4f9;
  padding: 10px 0 10px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 90%;
  vertical-align: top;
}

.main_table_table {
  margin: 0 0 10px 0;
  tr td {
    padding-right: 10px;
  }
}

.main_table_shadow {
  background: url(../img/table_shadow.gif) no-repeat center;
  height: 20px;
  width: 90%;
  margin: 0 0 40px 0;
}

.main_table_header {
  font-weight: bold;
}

.main_table_border td {
  border-bottom: 1px #c5d4e3 solid;
  padding: 0 0 5px 0;
  color: #26394c;
  font-size: 0.85em;
  font-weight: bold;
}

.main_table_border_up td {
  border-top: 1px $white solid;
  color: #26394c;
  font-size: 0.85em;
  height: 5px;
}

.main_table_header span {
  color: #26394c;
  font-size: 0.85em;
}

td.main_table_border_none {
  border: none;
}

.main_table_group_header td {
  background: url(../img/main_table_bg_group_header.gif) repeat-x bottom center #d5dfe8;
  padding: 10px 0 10px 0;
  line-height: 140%;
}

.main_table_item {
  td {
    background: #e4eaf1;
    padding: 10px 0 10px 0;
  }
  &:hover td {
    background: url(../img/main_table_bg_item_hover.gif) repeat-x bottom center #c7e3ff;
    cursor: pointer;
  }
}

.main_table_cur {
  font-family: $tahoma;
  font-weight: bold;
}


.main_table_group_headers td {
  background: url(../img/main_table_s.gif) repeat-x bottom center $white;
  padding: 10px 0 10px 0;
  line-height: 140%;
}

.main_table_group_headerss td {
  background: url(../img/main_table_ss.gif) repeat-x bottom center #fbd4b4;
  padding: 10px 0 10px 0;
  line-height: 140%;
}

main_table_items p {
  background: #e4eaf1;
  padding: 10px 0 10px 0;
}

.main_table_items:hover p {
  background: url(../img/main_table_bg_item_hover.gif) repeat-x bottom center #c7e3ff;
  cursor: pointer;
}

.content_inner {
  margin: 0 0 40px 0;
  position: relative;
}

.content_inner h2 {
  width: 435px;
  margin: 0 0 0.5em 0;
}

.content {
  margin: 35px 0 40px 0;
  position: relative;

  .right {
    float: left;
    width: 20%;
    color: #707070;
    font-size: 0.9em;
    margin: 70px 0 0 0;

    .right_block {
      margin: 0 0 18px 0;
      line-height: 1.4em;
      font-size: 0.9em;
    }

    .right_block_first {
      margin: -10px 0 18px -10px;
      line-height: 1.4em;
      background-color: #f0f4f8;
      color: #7b598d;
      font-weight: bold;
      padding: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  .text {
    padding: 0 40px 0 0;
    .anons {
      margin: 15px 0 12px 0;
      font-size: 1.23em;
      line-height: 1.25em;
      font-weight: normal;
      color: #7c598c;
    }
  }

  h2 {
    margin: 0 0 0.5em 0;
  }

  p {
    margin: 0 0 12px 0;
    line-height: 18px;
  }
  .shadow_text {
    height: 11px;
    background: url(../img/shadow_text.jpg) no-repeat center;
    margin: 20px 0 20px 0;
  }
  .news {
    color: #707070;
    font-size: 0.92em;
    margin: 42px 0 0 0;
    .news_block {
      margin: 0 0 18px 0;
      line-height: 1.4em;
    }
    .all_news a {
      color: #498509;
      &:hover {
        color: $red;
      }
    }
  }
  .pic {
    position: absolute;
    top: 0;
    left: -141px;
    margin-left: -6%;
    margin-top: 70px;
  }
}

input.button {
  cursor: pointer;
}

.action input.button:disabled {
  font-size: 1.4em;
}

.product_one input.button:disabled {
  font-size: 1.05em;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/

#sideLeft {
  float: left;
  width: 22%;
  margin-left: -100%;
  position: relative;
}

.submenu {
  margin: 0 0 0 40px;
  a.title {
    color: $fontColorMain;
    font-size: 1.07em;
    &:hover {
      color: $red;
    }
  }
  ul {
    margin: 12px 20px 22px 20px;
    li {
      list-style: none;
      margin: 0 0 14px 0;
      line-height: 1.3em;
      &.active {
        color: $red;
        border-left: 3px $red solid;
        padding-left: 10px;
        margin-left: -13px;
      }
    }
  }
}

/* Footer
-----------------------------------------------------------------------------*/

footer {
  margin: -120px auto 0;
  height: 120px;
  position: relative;
  z-index: 10;

  .copyright {
    margin: 15px 0 0 10px;
  }

  .phone {
    text-align: center;
    margin: 15px 0 0 0;
    .number {
      font-size: 1.38em;
      margin: 3px 0 10px 0;
    }
  }
  .neprosto {
    text-align: right;
    margin: 15px 35px 0 0;
    a {
      color: $fontColorMain;
      &:hover {
        color: $red;
      }
    }
  }
}

.footer_bg {
  width: 100%;
  height: 9px;
  background: url('../img/header_bg_pix.gif') center top repeat-x;

  .left {
    float: left;
    width: 100%;
    height: 9px;
    background: url('../img/header_bg_l.gif') left top no-repeat;
  }

  .right {
    float: right;
    width: 100%;
    height: 9px;
    background: url('../img/header_bg_r.gif') right top no-repeat;
  }

  .footer_bg_pix {
    height: 9px;
    width: 100%;
    background: url('../img/wh-bottom.png') left top repeat-x;
  }
}

/*#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: $blue;
  @include border-radius(5px);
  right: 10px;
  bottom: -40px;
  display: none;
  @include transition(background-color 0.2s ease-in-out);
  cursor: pointer;
  z-index: 20;
  &:hover {
    background: darken($blue, 10%);
  }
  .upButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    @include transform(rotate(45deg));
  }
}*/

/*Scroll up button*/
#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  @include border-radius(5px);
  right: 10px;
  bottom: -40px;
  display: none;
  @include transition(0.2s ease-in-out);
  cursor: pointer;
  z-index: 20;
  &:hover {
    border-color: $blue;
    background: $blue;
    .upButton {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  }
  .upButton {
    @include transition(border 0.2s ease-in-out);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    @include transform(rotate(45deg));
  }
}



/*.copyright {
  float: left;
  width: 20%;
  margin: 15px 0 0 10px;
}*/


@import "new-style";
@import "adaptive";